.column {
    display: inline-block;
    width: 24vw;
    box-sizing: border-box;
    position: relative;
    border-right: solid 2px red;
    margin:0;
    height: 850px;
    float:left;
}

.column:hover{
    width: 75%;
}

.column:not(:hover){
    width: 20%;
}

.background {
    margin:0;
    background-repeat: no-repeat;
    width: 100%;
    height: 850px;
    display: inline-block;
    background-position: right top;
    background-attachment: fixed;
    position: absolute;
}

#pic1,#pic3 {
    background-image: url("../gfx/pic1.jpg");
}
#pic2,#pic4 {
    background-image: url("../gfx/pic2.jpg");
}

